/* CSS declarations go here */
input[type="search"] {
    height: 64px !important; /* or height of nav */
}

body {
    background-image: url("https://images.pexels.com/photos/33129/popcorn-movie-party-entertainment.jpg?w=940&h=650&auto=compress&cs=tinysrgb");
    /*background-color: aqua;*/
    background-size: cover;
}

a, #landoPage {
    font-family: 'Quicksand', sans-serif;
}

/*.brand-logo {*/
  /*background-color: aqua;*/
/*}*/

/*.nav-wrapper{*/
 /*background-color: aquamarine;*/
/*}*/

@media only screen and (max-width: 992px) {
    nav .brand-logo {
        left: 25%;
    }
}

